/.idea/
/apigateway-authorized/.terraform/
**/*.zip

# Local .terraform directories/files (I'm choosing to not care about lock files)
**/.terraform/*
**/.terraform.lock.hcl

# .tfstate files
**/.tfstate
**/.tfstate.*
